version: "3.8"

services:
  mysql:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: school_app_db
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - school_network

  backend:
    image: sohail185/backend-app:${IMAGE_TAG}
    container_name: backend_app
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "3500:3500"
    depends_on:
      - mysql
    networks:
      - school_network

  frontend:
    image: sohail185/frontend-app:${IMAGE_TAG}
    container_name: frontend_app
    restart: always
    env_file:
      - ./frontend/.env
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - school_network

volumes:
  mysql_data:

networks:
  school_network:
    driver: bridge
